<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Document</title>
</head>

<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
            <div class="center-align">
                <i class="material-icons medium">mood_bad</i>
                <h2>404 Error</h2>
                <h3>OPPS! -PAGE NOT FOUND</h3>
            </div>

    </div>
</body>

</html>